<a href="https://colab.research.google.com/github/AkshatParikh16/beginning--bioinformatics/blob/main/notebooks/Bioinformatics_Module03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

P6. input ( ) gets input from the user

TASK P6.1

In [9]:
name = input("Enter your name: ")
print("Hello", name)

Enter your name:
Hello

TASK P6.2:
 Rosalind # 1 - Variables and Some Arithmetic

In [11]:
a = float(input("Enter side a: "))
b = float(input("Enter side b: "))
print("c^2 =", a**2 + b**2)   # square of hypotenuse

Enter side a: 984
Enter side b: 952
c^2 = 1874560.0

P7. list type variables (create, replace, append)

TASK P7.1

In [12]:
my_list = ["Hello", "World", "Charles Darwin"]
print(my_list[1])

World

TASK P7.2

In [13]:
my_list[2] = "Akshat Parikh"
print(my_list)

['Hello', 'World', 'Akshat Parikh']

TASK P7.3

In [14]:
my_list.append("Charles Darwin")
print(my_list)

['Hello', 'World', 'Akshat Parikh', 'Charles Darwin']

TASK P7.4

In [15]:
my_list.insert(1, "Inserted item")
print(my_list)

['Hello', 'Inserted item', 'World', 'Akshat Parikh', 'Charles Darwin']

P8. Slicing lists and strings

TASK P8.1

In [16]:
print(my_list[2:4])

['World', 'Akshat Parikh']

TASK P8.2

In [17]:
my_string = "HelloWorldCharlesDarwinAlfred R. Wallace"
# target: "Wallace World"
hello_world = my_string[0:5] + " " + my_string[5:10]  # "Hello World" (just demo)
wallace = my_string[my_string.index("Wallace"): my_string.index("Wallace")+7]
world = my_string[5:10]
print(wallace + " " + world)

Wallace World

TASK P8.3:
 Rosalind # 2 - Strings and Lists

In [19]:
s = input().strip()
a, b, c, d = map(int, input().split())
print(s[a:b+1], s[c:d+1])

tN7rcRqYDM9O2zwjblZ2gzrTTJEoAfj1PcsNga2HloBl0QfiQth8E3Psalmopoeus0FYdl6RQgyvfNoSl1l0fkC40QNav7OYyvqH75PjLH2pubfR68LBvUlQU5akt8lz0FhispidaPmWQRJ6bIRbJDYpgMO78GQtHfjdR1VR5agjPME.
54 64 130 136
Psalmopoeus hispida

P9. if and else - conditional output

TASK P9.1

In [20]:
x = float(input("x: "))
y = float(input("y: "))
if x == y:
    print(x + y)
else:
    print(x - y)

x: 5
y: 5
10.0

P10. while loops

TASK P10.1

In [21]:
cnt = 0
while cnt < 3:
    print("Counting!")
    cnt += 1

Counting!
Counting!
Counting!

P11. for loops – looping over lists

TASK P11.1

In [23]:
names = ["Akshat", "Devanshu ", "Neel"]
for name in names:
    print("Hello", name)

Hello Akshat
Hello Devanshu
Hello Neel

P12. for loops over a range() of numbers

TASK 12.1

In [24]:
iterations = 10
for number in range(iterations):
    print(number)

0
1
2
3
4
5
6
7
8
9

TASK P12.2

In [25]:
for n in range(9, 28, 3):  # 9..27 inclusive
    print(n)

9
12
15
18
21
24
27

TASK P12.3: Rosalind # 3 - Conditions and Loops

In [26]:
a, b = map(int, input().split())
print(sum(n for n in range(a, b+1) if n % 2 == 1))

4730 9135
15273399